@using MusicShop.Domain.ViewModels
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="card text-black" style="border-radius : 25px; height: contain; padding-bottom: 50px;">
    <p class="text-center h1 mb-5 mt-4">Login</p>
    <form asp-controller="Account" asp-action="Registration" style="padding-left: 100px; padding-right: 100px">
        <div asp-validation-summary="All" class="text-danger text-center"></div>
        <div class="form-outline flex-fill mb-0">
            <label class="form-label" style="margin-left: 0px;">Your Name</label>
            <input asp-for="Name" type="text" class="form-control">
        </div>
        <div class="form-outline flex-fill mb-0">
            <label class="form-label" style="margin-left: 0px;">Password</label>
            <input asp-for="Password" type="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary btn-lg" style="margin-top: 50px;">Login</button>
    </form>
</div>
