@{
    ViewData["Title"] = "Admin Tools";
}

<div class="card text-black" style="border-radius : 25px; height: contain;">
    <div class="container" style="padding: 50px;">
        <h1 style="margin: 15px;">Admin tools</h1>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <a asp-controller="Admin" asp-action="Users" class="btn btn-primary btn-lg" style="width: 100%; margin: 15px;">Users</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <a asp-controller="Admin" asp-action="CreateProduct" class="btn btn-primary btn-lg" style="width: 100%; margin: 15px;">Products</a>
            </div>
        </div>
    </div>
</div>
