
@{
    ViewData["Title"] = "Contacts";
}

<div class="card text-black" style="border-radius : 25px; height: contain; padding-bottom: 50px;">
    <h1 class="text-center h1 mb-5 mt-4">Our contacts</h1>
    <p class="text-center mb-5 mt-4" style="font-size: 200%;">Telephone: ###-##-###-##-##</p>
    <p class="text-center mb-5 mt-4" style="font-size: 200%;">Adress: Mars, Route 66</p>
</div>

