@using MusicShop.Domain.Entity
@model List<Product>

@{
    ViewData["Title"] = "Keyboards";
}

<div class="card text-black" style="border-radius : 25px; height: contain; padding: 50px;">
    <h1>Keyboards</h1>
    @if (Model.Count != 0)
    {
        <div class="card text-black" style="border-radius : 25px; height: contain; padding: 50px;">
            <div class="container">
                @{
                    foreach (Product product in Model)
                    {
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <img src="data:image/jpeg;base64,@Convert.ToBase64String(product.Image)" style="width: 400px; height: 400px;" />
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h2>@product.Manufacturer</h2>
                                <p>@product.Model</p>
                                <a asp-controller="Products" asp-action="Product" asp-route-id="@product.Id" class="btn btn-primary btn-lg;">See more</a>
                                <a asp-controller="Basket" asp-action="AddItem" asp-route-id="@product.Id" class="btn btn-primary btn-lg;">Add to basket</a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }
    else
    {
        <h2>Sorry, there are no products in this category at the moment!</h2>
    }
</div>

